@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground: 0 0% 3.92%;
        --background: 0 0% 89.8%;

        --card: 0 0% 95.8%;
        --border: 0 0% 69.8%;

        --primary: 16 96% 53.14%;
        --accent: 48 96% 53.14%;
    }
    .dark {
        --foreground: 0 0% 89.8%;
        --background: 0 0% 3.92%;

        --card: 0 0% 8.92%;
        --border: 0 0% 23.92%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply font-sans bg-background text-foreground antialiased;
    }

    ::-webkit-scrollbar {
        @apply w-1;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-foreground/20 transition duration-150 hover:bg-foreground/40;
    }

    ::-webkit-scrollbar-track {
        @apply bg-card;
    }
}